# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
# macOS
.DS_Store
# VS Code
.vscode/
# Node (varsa)
node_modules/

# large binaries
bin/
*.phipkg

# Local Netlify folder
.netlify

# Phiando guard (auto)
PHIANDO_HUB/
